/* main body */
body{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: max-content max-content; 
    background-color: rgb(41, 41, 40);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Game styling*/
#image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 15px;
/* adjust when image added */
    /* max-height: 20%; */
    /* max-width: 20%; */
}

.main_story {
    position: relative;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #ffa4b6;
    height: fit-content; 
    border-radius: 15px;
    padding: 10px;
}

.decisions {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin: 25px 25px;
}
.btn-fit {
    display:block;
    width: 100%;
}

.btn-size{
    width: 30%;
}

/* displays on bottom right of main content */
.continue-btn{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#story {
    text-align: center;
}

/* buttons */
.btn{
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #a5def2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn:hover{
    background-color: #89cff1;
}

/* Mobile */
@media screen and (max-width: 900px){
    body{
        display: block;
    }

    .image{
        width: 30%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1050px){
    body{
        display: block;
    }

    .image{
        width: 30%;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1500px){
    body{
        display: block;
    }

    .image{
        width: 30%;
    }
}
