/* main body */
body{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: max-content max-content; 
    background-color: rgb(255, 237, 191);
    font-family: sans-serif;
}

/*Game styling*/
.main_story {
    position: relative;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(255, 220, 135);
    height: fit-content; 
    border-radius: 15px;
    padding: 10px;
}

.decisions {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    margin: 25px 25px;
}
.btn-fit {
    display:block;
    width: 100%;
}

.btn-size{
    width: 30%;
}

/* displays on bottom right of main content */
.continue-btn{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#story {
    text-align: center;
}

/* buttons */
.btn{
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(210, 210, 210);
    font-family: sans-serif;
}

.btn:hover{
    background-color: rgb(255, 220, 135);
}

/* Mobile */
@media screen and (max-width: 900px){
    body{
        display: block;
    }

    .image{
        width: 30%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1050px){
    body{
        display: block;
    }

    .image{
        width: 30%;
    }
}

@media screen and (min-width: 1050px) and (max-width: 1500px){
    body{
        display: block;
    }

    .image{
        width: 30%;
    }
}
